@import "variables.scss";
@import "mixins.scss";

.brand-text{
    font-weight: bold ;
    font-size: 24px;
    font-style: italic;
    color: $brandColor;
}

.card-style {
    font-family: $myFont;
    border: none;
    margin: 0px 10px 10px;
    box-shadow: 2px 2px 20px grey;
    padding: 15px 5px 5px 5px; 

    h5{
        font-family: $myFont;
        color: $productColor;
        font-weight: bold;
    }

    .coll-text{
        font-family: $myFont;
        color: grey;
        font-size: 12px;
        text-align: center;
    }

    .button-info{
        border: $colorInfo 1px solid;
        color: $colorInfo;
        @include button-shape;
    }

    .button-detail{
        @include button-shape;
    }
}

.contenedor{
    .hija{
        h2{
            font-family: $myFont;
            color: $myColor;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
}

.contact-box{
    background-color: rgb(243, 243, 243, 1);
    border-radius: 15px;
    @include content-box;

    .place-style{
        font-family: $myFont;
        color: rgb(243, 243, 243, 1);
        font-style: italic;
        font-size: 14px;
    }
    
    .label-text{
        font-family: $myFont;
        font-weight:550;
        font-size: 18px;
    }
}

.page-title{
    font-family: $myFont;
    color: black;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-box{
    @include content-box;
    .about-label{
        font-size: 16px;
        font-weight: bold;
    }
}

.product-box{
    @include content-box;
    h1{
        font-family: $myFont;
        color: $productColor;
        font-weight: bold;
        margin-bottom: 0px;
    }

    h3{
        font-family: $myFont;
        color: gray;
        padding-top: 0px;
    }

    .col{
        img{
            border: $colorInfo 1px solid;
            border-radius: 20px;
        }
        p{
            vertical-align:middle;
        }
        .add{
            text-align: right;
        } 
    }
    
    .product-info{
        margin-top: 15px;
        font-size: 16px;

        .label{
            font-family: $myFont;
            background: rgb(243, 243, 243, 1);
            font-weight: bold;
        }

        li{
            width: 10rem;
            text-align: center;
        }
    }
    
}